<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="stylesheet" href="midproj_76.css">
    <title>1101_therm_76</title>
</head>
  
<body>
    <!-- nav -->
    <div id="nav" class="nav">
      <img class="nav__logo" src="./img/netflix-logo.jpg" alt="" />

    <!-- li -->
      <ul class="navigation">
        <li><a href="#">首頁</a></li>
        <li><a href="#">節目</a></li>
        <li><a href="#">電影</a></li>
        <li><a href="#">最新熱門影片</a></li>
        <li><a href="#">我的片單</a></li>
     </ul>

    <!-- search -->

    <div class="search">
        <div class="container-2">
            <span class="icon"><i class="fa fa-search"></i></span>
            <input type="search" id="search" placeholder="片名、人名、類型" />
        </div>
    </div>

    </div>
    

    <!-- header -->
    <header class="banner">
      <div class="banner__contents">
        <h1 class="banner__title">性愛自修室</h1>
        <div class="banner__buttons">
          <button class="banner__button"><i class="fas fa-play"></i>播放</button>
          <button class="banner__button"><i class="fas fa-info-circle"></i>更多資訊</button>
        </div>
        <br>
        <h2>我們正式宣布:敬請期待下一季</h2>
        <h1 class="banner__description">
         多虧有個當性治療師的老媽，只要關乎性事，缺乏安全感的歐帝斯一定能得到解答。有鑑於此，特立獨行的梅芙提議在校園開一間性愛自修室。
        </h1>
      </div>
      <div class="banner--fadeBottom"></div>
    </header>

    <!-- Netflix TOP10 -->
    <div class="row">
      <h2>榮登台灣本日排行榜前10名</h2>
      <div class="row__posters">
        <img class="row__poster row__posterLarge" src="./img/top10/top1.jpg" alt="" />

        <img class="row__poster row__posterLarge" src="./img/top10/top2.jpg" alt="" />

        <img class="row__poster row__posterLarge" src="./img/top10/top3.jpg" alt="" />

        <img class="row__poster row__posterLarge" src="./img/top10/top4.jpg" alt="" />

        <img class="row__poster row__posterLarge" src="./img/top10/top5.jpg" alt="" />

        <img class="row__poster row__posterLarge" src="./img/top10/top6.jpg" alt="" />

        <img class="row__poster row__posterLarge" src="./img/top10/top7.jpg" alt="" />

        <img class="row__poster row__posterLarge" src="./img/top10/top8.jpg" alt="" />

        <img class="row__poster row__posterLarge" src="./img/top10/top9.jpg" alt="" />

        <img class="row__poster row__posterLarge" src="./img/top10/top10.jpg" alt="" />
      </div>
    </div>

    <!-- Trending Now -->
    <div class="row">
      <h2>現正熱播中</h2>
      <div class="row__posters">
        <img class="row__poster" src="./img/hot/hot1.jpg" alt="" />

        <img class="row__poster" src="./img/hot/hot2.jpg" alt="" />

        <img class="row__poster" src="./img/hot/hot3.jpg" alt="" />

        <img class="row__poster" src="./img/hot/hot4.jpg" alt="" />

        <img class="row__poster" src="./img/hot/hot5.jpg" alt="" />

        <img class="row__poster" src="./img/hot/hot6.jpg" alt="" />

        <img class="row__poster" src="./img/hot/hot7.jpg" alt="" />

        <img class="row__poster" src="./img/hot/hot8.jpg" alt="" />
      </div>
    </div>

    <!-- comedy -->
    <div class="row">
      <h2>喜劇</h2>
      <div class="row__posters">
        <img class="row__poster" src="./img/comedy/C1.jpg" alt="" />

        <img class="row__poster" src="./img/comedy/C2.jpg" alt="" />

        <img class="row__poster" src="./img/comedy/C3.jpg" alt="" />

        <img class="row__poster" src="./img/comedy/C4.jpg" alt="" />

        <img class="row__poster" src="./img/comedy/C5.jpg" alt="" />

        <img class="row__poster" src="./img/comedy/C6.jpg" alt="" />

        <img class="row__poster" src="./img/comedy/C7.jpg" alt="" />

        <img class="row__poster" src="./img/comedy/C8.jpg" alt="" />
      </div>
    </div>
    </div>
    
    <script>
      function cartToggle() {
        p = document.querySelector('.cart-dropdown');
        p.classList.toggle('show');
      }
    </script>

  </body>

</html>